@model Skill

<div class="container">
	<form method="post" enctype="multipart/form-data">
		<div class="text text-danger" asp-validation-summary="ModelOnly"></div>
	<div class="form-group">
		    <label asp-for="Name" >Name:</label>
			<input type="text" class="form-control" asp-for="Name" />
			<span asp-validation-for="Name" class="text text-danger"></span>
	</div>
		<div class="form-group">
			<label asp-for="Degree">Degree:</label>
			<input min="0" max="100" class="form-control" asp-for="Degree" />
			<span asp-validation-for="Degree" class="text text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="TeacherId">Teacher</label>
			<select asp-for="TeacherId" class="form-select" aria-label="Default select example">
				<option selected value="0">Select one of them</option>
				@foreach (var item in ViewBag.Teachers)
				{
					<option value="@item.Id">@item.Name</option>
				}
			</select>
			<span asp-validation-for="TeacherId" class="text text-danger"></span>
		</div>
			@Html.AntiForgeryToken()
	<button type="submit">Create</button>
	</form>
</div>
